html,
body {
	background-color: rgb(224, 197, 161);
}
.layout {
	min-height: 100vh !important;
	background-color: rgb(224, 197, 161);
}
.footer {
	padding: 2%;
	margin-top: 1.5%;
	background: black;
}
